.pro{
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pro .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.pro .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.pro .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.pro .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.pro .col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.pro .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.pro input[type=text], input[type=time], input[type=number], select {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pro label {
    margin-bottom: 10px;
    display: block;
}

.pro .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.pro .btn {
    background-color: #fae82b;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.pro .btn:hover {
    background-color: #45a049;
}

.pro span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .pro .row {
        flex-direction: column-reverse;
    }
    .pro .col-25 {
        margin-bottom: 20px;
    }
}
.map{
    width:60%;
    border-radius: 5px;
    border: 0.5px solid gray;
    box-shadow: 2px 3px 3px 2px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    height: 740px;
    background-color: #00b3ee;
}